{{/*
	Cu aceasta comanda poti sa anunti un mesaj intr-un embed daca ai permisiunea `Mention Everyone`

	Trigger recomandat: Starts With cu trigger "!!!"
*/}}
{{/* Setari */}}
{{ $svowner := pune-user-id }}{{/* Aici o sa iti pui idul tau de discord sau al celui ce are ownership pe server-ul de discord. */}}

{{ $perms := `MentionEveryone` }}{{ $valid := false }}{{ $embed := sdict }}{{ $name := "" }}{{ $icon := printf "https://cdn.discordapp.com/icons/%d/%s.webp" .Guild.ID .Guild.Icon }}{{ if eq .User.ID $svowner }}{{ $name = "Owner Server" }}{{ else if (reFind `Administrator` (exec "viewperms")) }}{{ $name = "Fondator" }}{{ else }}{{ $name = "Administrator" }}{{ end }}{{ $dt := 0 }}
{{ if reFind $perms (exec "viewperms") }}
	{{ $valid = true }}
{{ end }}
{{ if $valid }}
	{{ $embed.Set "author" (sdict "icon_url" $icon "name" $name) }}
	{{ $embed.Set "description" (print "**" .StrippedMsg "**") }}
	{{ with .Message.Attachments }}
		{{ $embed.Set "image" (sdict "url" (index . 0).URL) }}
	{{ end }}
	{{ $embed.Set "footer" (sdict "text" "Anuntat la ora") }}
	{{ $embed.Set "timestampt" currentTime }}
	{{ $embed.Set "color" (randInt 111111 99999) }}
{{ else }}
	{{ $embed.Set "author" (sdict "name" .User.Username "icon_url" (.User.AvatarURL "256")) }}
	{{ $embed.Set "description" (print "<:cross:705738821110595607> Ai nevoie de permsiunea **" $perms "** pentru a folosi aceasta comanda !") }}
	{{ $embed.Set "color" 0xDD2E44 }}
{{ end }}
{{ $s := sendMessageRetID nil (cembed $embed) }}
{{ deleteTrigger 0 }}
