{{/* Setari */}}
{{ $c := x }}{{/* Canalul unde se joaca barbut */}}
{{/* Setari incheiate */}}

{{ $user := 0 }}{{ $dt := 0 }}{{ $suma := 0 }}{{ $da := false }}{{ $embed := sdict }}{{ $embed.Set "author" (sdict "icon_url" (.User.AvatarURL "256") "name" .User.Username) }}{{ $fields := cslice }}{{ $hasquest := false }}{{ $final := 0 }}{{ $questt := "" }}{{ $questno := 0 }}{{ $ended := false }}{{ $dbincr := 0 }}
{{ if eq .Channel.ID $c }}
    {{ if eq (len .CmdArgs) 1 }}
        {{ if getMember (index .CmdArgs 0) }}
            {{ $user = index .CmdArgs 0 | getMember }}
            {{ if ne $user.User.ID .User.ID }}
                {{ if dbGet (add $user.User.ID .User.ID) "barbut" }}
                    {{ $value := sdict (dbGet (add .User.ID $user.User.ID) "barbut").Value }}
                    {{ $user = $value.a | toInt64 | getMember }}
                    {{ if ne $user.User.ID .User.ID }}
                        {{ $suma = $value.b | toInt }}
                        {{ $r1 := randInt 1 7 }}
                        {{ $r2 := randInt 1 7 }}
                        {{ $msg := (print .User.Mention " a rulat: **" $r1 "**\n" $user.User.Mention " a rulat: **" $r2 "**") }}
                        {{ $q1 := (dbGet .User.ID "CREDITS").Value | toInt }}
                        {{ $q2 := (dbGet $user.User.ID "CREDITS").Value | toInt }}
                        {{ if ge $q1 $suma }}
                            {{ if ge $q2 $suma }}
                                {{ if eq $r1 $r2 }}
                                    {{ $msg = print $msg "\nEgal!" }}
                                {{ else if gt $r1 $r2 }}
                                    {{ $s := dbIncr .User.ID "CREDITS" $suma }}
                                    {{ $s := dbIncr $user.User.ID "CREDITS" (mult $suma -1) }}
                                    {{ $msg = print $msg "\n\n" .User.Mention " a castigat **" (mult $suma 2) "** credite impotriva lui " $user.User.Mention }}
                                    {{ if ge (mult $suma 2) 10000 }}
                                        {{ $da = true }}
                                    {{ end }}
                                {{ else }}
                                    {{ $msg = print $msg "\n\n" $user.User.Mention " a castigat **" (mult $suma 2) "** credite impotriva lui " .User.Mention }}
                                    {{ if ge (mult $suma 2) 10000 }}
                                        {{ $da = true }}
                                    {{ end }}
                                    {{ $s := dbIncr $user.User.ID "CREDITS" $suma }}
                                    {{ $s := dbIncr .User.ID "CREDITS" (mult $suma -1) }}
                                {{ end }} 
                                {{ $embed.Set "description" $msg }}          
                                {{ dbDel (add .User.ID $user.User.ID) "barbut" }}
                            {{ else }}
                                {{ $embed.Set "description" (print "⛔ | " $user.User.Mention " nu are **" $suma "** credite.") }}
                                {{ dbDel (add .User.ID $user.User.ID) "barbut" }}
                                {{ $dt = 10 }}
                            {{ end }}
                        {{ else }}
                            {{ $embed.Set "description" (print "⛔ | Nu ai **" $suma "** credite.") }}
                            {{ dbDel (add .User.ID $user.User.ID) "barbut" }}
                            {{ $dt = 10 }}
                        {{ end }}
                    {{ else }}
                        {{ $embed.Set "description" (print "⚠️ | Nu poti juca barbut cu tine insuti.")}}
                        {{ $dt = 10 }}
                    {{ end }}
                {{ else }}
                    {{ $embed.Set "description" (print "⚠️ | Nu ai o cerere de barbut de la " $user.User.Mention ".") }}
                    {{ $dt = 10 }}
                {{ end }}
            {{ else }}
                {{ $embed.Set "description" (print "⚠️ | Nu poti juca barbut cu tine insuti.")}}
                {{ $dt = 10 }}
            {{ end }}
        {{ else }}
            {{ $embed.Set "description" (print "⚠️ | `" (index .CmdArgs 0) "` nu este un utilizator valid.") }}
            {{ $dt = 10 }}
        {{ end }}
    {{ else }}
        {{ $embed.Set "description" "ℹ️ | Sintaxa: **?abarbut <User:ID/Mention>**" }}
        {{ $dt = 10 }}
    {{ end }}
{{ else }}
    {{ $embed.Set "description" (print "⚠️ | Poti juca barbut doar pe <#" $c ">.") }}
    {{ $dt = 10 }}
{{ end }}
{{ $embed.Set "color" 543252}}
{{ $messageID := sendMessageRetID nil (cembed $embed) }}
{{ if $dt }}
    {{ deleteMessage nil $messageID $dt }}
{{ end }}
