{{/* Setari */}}
{{ $c := x }}{{/* Canalul unde se joaca barbut */}}
{{ $min := 0 }}{{/* Suma minima pe care se poate juca */}}
{{/* Setari incheiate */}}

{{ $user := 0 }}{{ $dt := 0 }}{{ $suma := 0 }}{{ $embed := sdict }}{{ $embed.Set "author" (sdict "icon_url" (.User.AvatarURL "256") "name" .User.Username) }}
{{ if eq .Channel.ID $c }}
    {{ if eq (len .CmdArgs) 2 }}
        {{ if getMember (index .CmdArgs 0) }}
            {{ $user = index .CmdArgs 0 | getMember }}
            {{ if ne $user.User.ID .User.ID }}
                {{ if toInt (index .CmdArgs 1) }}
                    {{ if ge (toInt (index .CmdArgs 1)) 100 }}
                        {{ $suma = index .CmdArgs 1 | toInt }}
                        {{ if ge (toInt (dbGet .User.ID "CREDITS").Value) $suma}}
                            {{ if ge (toInt (dbGet $user.User.ID "CREDITS").Value) $suma }}
                                {{ $embed.Set "description" (print .User.Mention " l-a provocat pe <@!" $user.User.ID "> la barbut pe suma de **" $suma "** credite.\nPentru a accepta tasteaza **?abarbut " .User.Mention "**, sau pentru a respinge **?rbarbut " .User.Mention "**.") }}
                                {{ $embed.Set "footer" (sdict "icon_url" "https://cdn.discordapp.com/attachments/707661790443733022/760145320343896114/wall-clock.png" "text" (print "Cererea de barbut expira peste 15 minute, la " ((currentTime.Add (toDuration "3h15m")).Format "🕚 15:04:05"))) }}
                                {{ dbSet (add .User.ID $user.User.ID) "barbut" (sdict "a" .User.ID "b" $suma ) }}
                                {{ dbSetExpire (add .User.ID $user.User.ID) "barbut" (sdict "a" .User.ID "b" $suma ) 900 }}
                            {{ else }}
                                {{ $embed.Set "description" (print "⛔ | " $user.User.Mention " nu are **" $suma "** credite.") }}
                                {{ $dt = 10 }}
                            {{ end }}
                        {{ else }}
                            {{ $embed.Set "description" (print "⛔ | Nu ai **" $suma "** credite.") }}
                            {{ $dt = 10 }}
                        {{ end }}
                    {{ else }}
                        {{ $embed.Set "description" "⚠️ | Poti juca barbut pe minim 100 credite."}}
                        {{ $dt = 10 }}
                    {{ end }}
                {{ else }}
                    {{ $embed.Set "description" (print "⚠️ | **" (index .CmdArgs 1) "** nu este un numar.") }}
                    {{ $dt = 10 }}
                {{ end }}
            {{ else }}
                {{ $embed.Set "description" "⚠️ | Nu poti juca barbut cu tine insuti." }}
                {{ $dt = 10 }}
            {{ end }}
        {{ else }}
            {{ $embed.Set "description" (print "⚠️ | **" (index .CmdArgs 0) "** nu este un utilziator valid.") }}
            {{ $dt = 10 }}
        {{ end }}
    {{ else }}
        {{ $embed.Set "description" "Sintaxa: ?barbut <User:Mention/ID> <suma>" }}
        {{ $dt = 10 }}
    {{ end }}
{{ else }}
    {{ $embed.Set "description" (print "⚠️ | Poti juca barbut doar pe <#" $c ">.") }}
    {{ $dt = 10 }}
{{ end }}
{{ $embed.Set "color" 123456 }}
{{ $messageID := sendMessage nil (cembed $embed) }}
{{ if $dt }}
    {{ deleteMessage 707675928414650430 $messageID $dt }}
{{ end }}
